<%= render 'seller_header' %>

<div class="container steps-page">
  <div class="property-details">
    <div class="col-md-8 col-sm-8 col-xs-12 pd-left mob-pad-right">
      <div class="steps-slider">

        <ul>
          <li class="active"><a href="javascript:void(0)">1</a></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li><a href="javascript:void(0)">4</a></li>
          <li><a href="javascript:void(0)">5</a></li>
          <li><a href="javascript:void(0)">6</a></li>
          <li><a href="javascript:void(0)">7</a></li>
          <li><a href="javascript:void(0)">8</a></li>
        </ul>
      </div>

      <div class="create-profile">
        <h3>Create Your Profile</h3>
        <h4>What's the listing Address</h4>

        <%= form_for :location, url: wizard_path, method: :patch, html: { class: 'address-form validate-wizard' } do |f| %>

          <div class="form-group">
            <%= f.text_field :address_line1, placeholder: "Address line no.1", class: 'form-control', required: true %>
            <% if @location.errors[:address_line1].present? %>
              <label id="location_address_line1-error" class="error" for="location_address_line1">This field is required.</label>
            <% end %> 
          </div>

          <div class="form-group">
            <%= f.text_field :address_line2, placeholder: "Address line no.2", class: 'form-control' %>
          </div>

          <div class="row row-margin">
            <div class="form-group col-md-6 col-sm-6 pd-left mob-pad-right">
              <div class="select-style">
                <%= f.select(:country, options_for_select(countries, @location.country), { include_blank:  'Select Country' }, { required: true, :class => 'country' }) %>
              </div>
            </div>

            <div class="form-group col-md-6 col-sm-6 pd-right mob-pad-left">
              <div class="select-style">
                <%= f.select :state, options_for_select("", @location.state), prompt:'State', class: 'form-control', id: "location_state", required: true %>
              </div>
            </div>
          </div>  

          <div class="row row-margin margin-top-country">
            <div class="form-group col-md-6 col-sm-6 pd-left mob-pad-right">
              <%= f.text_field :city, placeholder: 'City', class: 'form-control', required: true %>
            </div>

            <div class="form-group col-md-6 col-sm-6 pd-right mob-pad-left">
              <%= f.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control' , required: true %>
            </div>
          </div>  

          <div class="button-section">
            <%= f.submit "Continue", class: 'btn btn-primary continue-btn' %>
            <%= link_to "Cancel", cancel_seller_steps_path,  class: 'btn btn-danger cancel-btn' %>
          </div>
        <% end %>
      </div>

    </div>
    <!-- Enquiry Form -->
    <%= render 'home/search_form' %>            
    <!-- Property Information -->
  </div>

</div> <!-- container -->