<%= render 'seller_header' %>

<!-- Property details -->
<div class="container steps-page">
  <div class="sell-heading">
    <h2>Sell Your Home</h2>
  </div>
  <div class="property-details">
    <div class="col-md-8 col-sm-8 col-xs-12 pd-left mob-pad-right">
      <div class="steps-slider">
        <ul>
          <li class="active">
            <%= link_to "1", wizard_path(:address) %>
          </li>
          <li class="active">
            <%= link_to "2", wizard_path(:personal_details) %>
          </li>
          <li class="active">
            <%= link_to "3", wizard_path(:property_details) %>
          </li>
          <li class="active"><a href="javascript:void(0)">4</a></li>
          <li><a href="javascript:void(0)">5</a></li>
          <li><a href="javascript:void(0)">6</a></li>
          <li><a href="javascript:void(0)">7</a></li>
          <li><a href="javascript:void(0)">8</a></li>
        </ul>
      </div>
      <div class="create-profile">
        <h3>Enter Your Home Price</h3>
        <div class="form-inline home-price">
          <%= form_for :property, url: wizard_path, method: :patch, html: { class: 'property-form validate-wizard' } do |f| %>
            <div class="form-group col-md-12 col-sm-12 col-xs-12 pd-none">
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
              <div class="input-group col-md-9">
                <%= f.text_field :price, placeholder: "Enter Amount", class: 'form-control' %>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 pd-none feet pull-right">
                Dollar ($)
              </div>
            </div>

            <div class="button-section">
              <%= f.submit "Continue", class: 'btn btn-primary continue-btn' %>
              <%= link_to "Cancel", cancel_seller_steps_path,  class: 'btn btn-danger cancel-btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Enquiry Form -->
    <%= render 'home/search_form' %>
  </div>
</div> <!-- container -->
