<div class="search-property">
  <div class="col-md-6 col-xs-12 col-sm-6 search-img-border">
    <div class="search-property-img">
      <% if property.pictures.first.try(:picture).present? %>
        <%= link_to image_tag(property.pictures.first.try(:picture)), property_path(property), class: "img-responsive"  %>
      <% end  %>
      <% if property.rent.present? %>
        <p class="property-status">Rent</p>
        <p class="property-price"><i class="fa fa-dollar"></i><%= property.rent_per_month %>/<span>month</span></p>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 col-xs-12 col-sm-6 search-property-border">
    <div class="search-property-content">

      <%= link_to property_path(property) do %>
        <%= property.name if property.name.present? %>
      <% end %>
      <p class="address">
        <i class="fa fa-map-marker"></i>
        <%= property.location.full_address if property.location.present? %>
      </p>
      <p class="content">
        <%= property.description.truncate(370, separator: '...') %>
      </p>
    </div>
    
    <ul class="property-feature">
      <li><i class="fa fa-building"></i>6</li>
      <li><i class="fa fa-bed"></i><%= property.full_bedrooms.to_i + property.partial_bedrooms.to_i %></li>
      <li><i class="fa fa-street-view"></i><%= property.full_baths.to_i + property.partial_baths.to_i %></li>
      <li><i class="fa fa-car"></i><%= property.additional_feature.present? ? property.additional_feature.parking_count.to_i : 0 %></li>
    </ul>
  </div>
</div>