<section class="search_result">
  <div class="search_result_bg">
    <p> Search Result</p>
  </div>
  </section>
<section class="full-width">

  <div class="search-heading">
    <p>Search result</p>
  </div>
</section>

<section class="search_section">
  <div class = "full-width">
    <div class="row">
      <div class= "col-md-8 col-xs-12 col-sm-12">        
        <div class="col-md-6 col-xs-12 col-sm-6 all-search-div">
          <ul class="all-search">
            <li><%= link_to "All", search_path %></li>
            <li><%= link_to "Rent", rent_path %></li>
            <li><%= link_to "Sale", sale_path %></li>
          </ul>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-6 filter-menu">
          <!-- Sort Type  -->
          <div class="dropdown col-md-6 col-xs-12 col-sm-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Most Expensive</a></li>
              <li><a href="#">Least Expensive</a></li>
            </ul>
          </div>
        
          <!-- Sort Order -->
          <div class="dropdown col-md-6 col-xs-12 col-sm-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Test 1</a></li>
              <li><a href="#">Test 2</a></li>
              <li><a href="#">Test 3</a></li>
            </ul>
          </div>
        </div>
        <% if @properties.present? %>
          <% @properties.each do |property| %>
            <%= render 'property', property: property %>
          <% end %>
        <% else %>
          <div class="search-heading">
            <p>NO RESULTS FOUND</p>
          </div>
        <% end %>
        <%= paginate @properties %>
      </div>

      <!--Search Section  -->
      <div class= "col-md-4 col-xs-12 col-sm-12 search-form-bgcolor">
        <div class="search_form">
          <%= form_tag('/search', method: :get) do %>

            <div class="search-form-heading">
              <h2>Find Your Dream Home</h2>
            </div>

            <div class="row">

              <div class="form-group col-md-12 col-xs-12 col-sm-4">
                <%= label_tag :location  %>
                <%= text_field_tag :location, nil, placeholder: "Address 1, Address 2, City, State, Zip Code", class: 'form-control', id: 'location', value: params[:location] %>
              </div>

              <div class="form-group col-md-12 col-xs-12 col-sm-4">
                <%= label_tag :type %>
                <div class="dropdown expensive">
                  <%= select_tag :type, options_for_select(PropertyType.all.map(&:name), selected: params[:type]), prompt: 'Select type',class: 'form-control' %>
                  <span class="caret"></span>             
                </div>
              </div>

              <div class="form-group col-md-12 col-xs-12 col-sm-4">
                <%= label_tag "sort by" %>
                <div class="dropdown sort-by">
                  <%= select_tag :sort, options_for_select([ "Most Expensive", "Least Expensive" ], selected: params[:sort]), class: 'form-control' %>
                  <span class="caret"></span>
                </div>
              </div>
            </div>

            <div class="row second-fields">

              <div class="form-group col-md-6 col-xs-12 col-sm-2">
                <%= label_tag :bedrooms %>
                <div class="dropdown room_select">
                  <%= select_tag :bedroom, options_for_select(options_for_bed_and_bath, selected: params[:bedroom]), prompt: 'Any', class: 'form-control' %>
                  <span class="caret"></span>
                </div>
              </div>

              <div class="form-group col-md-6 col-xs-12 col-sm-2">
                <%= label_tag :bathrooms %>
                <div class="dropdown room_select">
                  <%= select_tag :bath, options_for_select(options_for_bed_and_bath, selected: params[:bath]), prompt: 'Any', class: 'form-control' %>
                  <span class="caret"></span>
                </div>
              </div>

              <div class="form-group col-md-12 col-xs-12 col-sm-4">
                <%= label_tag :status %>
                <div class="dropdown sort-by">
                  <%= select_tag :status, options_for_select([ "Active", "Under Construction" ], "Active") , class: 'form-control' %>
                  <span class="caret"></span>
                </div>
              </div>

              <div class="form-group col-md-6 col-xs-12 col-sm-2">
                <%= label_tag "minimum price" %>
                <%= text_field_tag :min_price, nil, placeholder: "Min Price", class: 'form-control' %>
              </div>

              <div class="form-group col-md-6 col-xs-12 col-sm-2">
                <%= label_tag "maximum price" %>
                <%= text_field_tag :max_price, nil, placeholder: "Max Price", class: 'form-control' %>
              </div>

              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="search-btn">
                  <%= button_tag 'Search property Now!', type: 'submit', class: 'btn btn-default search-property-btn' %>                 
                </div>
              </div>
            </div>          
          <% end %>
        </div>        
      </div>

    </div>
  </div>  
</section>

<script>
  $(document).ready(function() {
    $('.next a').text(">");
    $('.prev a').text("<");
  })
</script>