<section class="search_result">
  <div class="search_result_bg">
    <p> Search Result</p>
  </div>
  </section>
<section class="full-width">

  <div class="search-heading">
    <p>Search result</p>
  </div>
</section>

<section class="search_section">
  <div class = "full-width">
    <div class="row">
      <div class= "col-md-8 col-xs-12 col-sm-12">        
        <div class="col-md-6 col-xs-12 col-sm-6 all-search-div">
          <ul class="all-search">
            <li><%= link_to "All", search_path %></li>
            <li><%= link_to "Rent", rent_path %></li>
            <li><%= link_to "Sale", sale_path %></li>
          </ul>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-6 filter-menu">
          <!-- Sort Type  -->
          <div class="dropdown col-md-6 col-xs-12 col-sm-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Most Expensive</a></li>
              <li><a href="#">Least Expensive</a></li>
            </ul>
          </div>
        
          <!-- Sort Order -->
          <div class="dropdown col-md-6 col-xs-12 col-sm-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Test 1</a></li>
              <li><a href="#">Test 2</a></li>
              <li><a href="#">Test 3</a></li>
            </ul>
          </div>
        </div>
        <% if @properties.present? %>
          <% @properties.each do |property| %>
            <%= render 'property', property: property %>
          <% end %>
        <% else %>
          <div class="search-heading">
            <p>NO RESULTS FOUND</p>
          </div>
        <% end %>
        <%= paginate @properties %>
      </div>

      <!--Search Section  -->
      <%= render 'search_form' %>

    </div>
  </div>  
</section>

<script>
  $(document).ready(function() {
    $('.next a').text(">");
    $('.prev a').text("<");
  })
</script>